@font-face {
	font-family: Nexa_Light; src: url(Nexa_light.otf); 
	font-family: Nexa_Bold; src: url(Nexa_Bold.otf);
}

footer,
.social-media-links {
	padding-top: 50px;
	font-weight: 300;
	font-size: 18px; 
	width: 100%;
	text-decoration: none;
	text-transform: none;
}

.sticky-footer, 
footer .social-media-links {
	position: absolute;
	bottom: 0;
}

.social-media-links h4 { 
	color: #ffffff;
	margin-bottom: 25px;
}

.social-media-links a img {
	background-color: #FFFFFF;
	width: 42px;
	height: 42px;
	margin: 0 5px;
	text-decoration: none;
	border-radius: 100%;
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
}

.social-media-links a img:hover, 
.social-media-links a img:active {
	text-decoration: none;
	transform: scale(1.12);
	-webkit-transform: scale(1.12);
}

.social-media-links span { 
	text-decoration: none;
	position: relative; 
	color: #6FFF93; 
}

.social-media-links span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #6FFF93;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.social-media-links span:hover:before,
.social-media-links span:active:before {
	-webkit-transform: scaleX(1); 
	transform: scaleX(1);
}
