@font-face {
	font-family: Nexa_Light; src: url(Nexa_light.otf); 
	font-family: Nexa_Bold; src: url(Nexa_Bold.otf);
}

#socialMedia {
	bottom: 0;
}

#socialMedia h4 {
	font-family: Nexa_Bold; 
	color: #ffffff;
}

#socialMedia img {
	width: 42px;
	height: 42px;
	background-color: #FFFFFF;
	border-radius: 100%;
	backface-visibility: visible; 
	transition: .2s ease-out;
	-webkit-transition: .2s ease-out;
}

#socialMedia img:hover {
	transform: scale(1.12);
	-webkit-transform: scale(1.12);
}

#socialMedia span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #70ff93;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#socialMedia span {
	font-family: Nexa_Bold; 
	position: relative; 
	color: #70ff93; 
	text-decoration: none;
}

#socialMedia span:hover:before {
	visibility: visible; 
	-webkit-transform: scaleX(1); 
	transform: scaleX(1);
}

.contentFooter {
    position: absolute; 
	bottom: 1%; 
	width: 100%;   
}

.contentFooter img {
    box-sizing: border-box;
    width: 35px;
    margin-right: 5px; 
    margin-left: 5px;
}
