.svg-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

#png-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: -3;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.header-left {
    float: right;
}

#dropdown-header-left {
    float: right;
    right: 25em;
    z-index: 1;
}
