@font-face {font-family: Nexa-Light; src: url(Nexa_light.otf); font-family: Nexa-Bold; src: url(Nexa_Bold.otf);}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

html {
  padding: 0px;      
  box-sizing: border-box;
}

header {
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

header img {
  height: 50px;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #56445D;
}


#welcome {background-color: #56445D; padding-top:0; margin-bottom:0}
#welcome h2 {font-family: 'Montserrat', sans-serif; text-transform: uppercase; color: #70ff93}
#welcome p {font-family: 'Montserrat', sans-serif; font-weight: lighter;  color: #ffffff;}
#welcome a {font-family:         'Montserrat', sans-serif;
            display:             inline-block;
            background-color:    #65ea85;
            color:               #ffffff;
            text-transform:      uppercase;
            cursor:              pointer;
            text-align:          center;
            font-weight:         lighter;
            padding:             10px 32px;
            font-size:           16px;
            margin:              22px 2px;
            transition-duration: 0.4s;
            border-radius:       80px;
           }
#welcome a {text-decoration: none; backface-visibility: visible; transition: all .2s ease-out;}
#welcome a:hover {transform: scale(1.02); text-decoration: none;}



.contentDiv p {
  box-sizing: border-box;
  width: 400;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

