* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #56445D;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

header {
	width: 100%;
	padding: 30px 0;
}

header img {
	height: 50px;
}

h2 {
	color: #6FFF93;
	font-size: 40px;
	margin-bottom: 30px;
}

p {
	text-transform: none;
	margin: 15px auto;
	width: 50%;
}

p:last-child {
	margin-bottom: 25px;
}

.welcome-link:link,
.welcome-link:visited {
	display: inline-block;
	background-color: #6FFF93;
	color: #ffffff;
	padding: 10px 32px;
	margin: 22px 2px;
	border-radius: 80px;
	text-decoration: none;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

a:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	text-decoration: none;
}
