@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

#tutorialBody {position: absolute; width: 100%;}

#tutorialBody h1 {font-family: 'Montserrat', sans-serif; color: #70ff93; font-size: 25px; box-sizing: border-box; width: 570; margin: 0; margin-left: auto; margin-right: auto; text-transform: uppercase; margin-bottom: 25px; margin-top: 5px;}
#tutorialBody p {font-family: 'Montserrat', sans-serif; font-weight: 300; color: white; font-size: 14px; box-sizing: border-box; width: 760; margin: 0; margin-left: auto; margin-right: auto;}
#tutorialBody a {position: relative; color: #70ff93; text-decoration: none;}
#tutorialBody a:before {content: ""; position: absolute; width: 100%; height: 2px; bottom: 0; left: 0; background-color: #70ff93; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.2s ease-in-out 0s;}
#tutorialBody a:hover:before {visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1);}
#tutorialBody img {
	margin-top: 25px;
	margin-bottom: 25px;
}

.img1 {
	width: 840px;
}

img2 {
	width: 75px;
}

a {
    text-decoration: none;
}

hr {
    width: 850px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.contentDiv {
    position: absolute; 
    width: 100%;
}

.tutorialButton {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #70ff93;
    display: block;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none; 
    backface-visibility: visible; 
    transition: all .2s ease-out;
}

#buttons {
margin-top: 1860px;
}

#buttons a {
    font-family:          'Montserrat', sans-serif;
    display:              inline-block;
    background-color:     #70ff93;
    color:                #ffffff;
    text-transform:       uppercase;
    cursor:               pointer;
    text-align:           center;
    font-weight:          lighter;
    padding:              10px 32px;
    font-size:            16px;
    margin:               26px;
    transition-duration:  0.4s;
    border-radius:        80px;
    text-decoration:      none; 
    backface-visibility:  visible; 
    transition:           all .2s ease-out;
}

    .button:hover {
        transform:          scale(1.02); 
        text-decoration:    none;
    }

body {
  	margin: 0px;
  	padding: 0px;
  	text-align: center;
  	background-color: #56445D;
	font-weight: bold;
}

header {
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #56445D;
}

header img {
  height: 58px;
}