* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #56445D;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

header {
	width: auto;
	padding: 30px 0;
}

header img {
	height: 58px;
}

#aboutMe h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #70ff93;
	margin: 25px 0;
}

#aboutMe p {
	text-transform: none;
	width: 750px;
	margin: 0 auto;
}

#aboutMe a {
	position: relative;
	color: #70ff93;
}

#aboutMe a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #70ff93;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#aboutMe a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.button:link,
.button:visited {
	display: inline-block;
	background-color: #65ea85;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 32px;
	font-size: 16px;
	margin: 22px 2px;
	border-radius: 80px;
	text-decoration: none;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.button:hover,
.button:active {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}