@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

#aboutMe {background-color: #56445D; padding-top:0; margin-bottom:0}
#aboutMe h2 {font-family: 'Montserrat', sans-serif; text-transform: uppercase; color: #70ff93}
#aboutMe p {font-family: 'Montserrat', sans-serif; color: #ffffff}


body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #56445D;

}

header {
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #56445D;
}
header img {
  height: 58px;
}

.sectionHeaderText {

}

.sectionText {
    font-family: 'Montserrat', sans-serif;
    color: #70ff93
}

a {
    text-decoration: none;
    backface-visibility: visible;
    transition: all .2s ease-out;
}

    a:hover {
        box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
        transform: scale(1.02);
        text-decoration: none;
            }


.button {
            font-family:         'Montserrat', sans-serif;
            display:             inline-block;
            background-color:    #65ea85;
            color:               #ffffff;
            text-transform:      uppercase;
            cursor:              pointer;
            text-align:          center;
            font-weight:         lighter;
            padding:             10px 32px;
            font-size:           16px;
            margin:              18px 2px;
            transition-duration: 0.4s;
            border-radius:       80px;
        }


    .button:hover {
        color: #ffffff
    }
