@font-face {
	font-family: Nexa_Bold;
	src: url(/Fonts/Nexa_Bold.otf);
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #36393E;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	width: 100%;
	padding: 30px 0;
}

.hexsphere-logo {
	height: 60px;
	width: auto;
}

header h1 {
	font-family: 'Nexa_Bold', 'Montserrat', sans-serif;
	font-size: 260%;
	text-transform: none;
	color: #7ADFBB;
}

.section-slideshow {

}
