* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #36393E;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

hr {
	border: solid 1px #fff;
	margin: 55px auto;
	width: 85%;
}

.hr-small {
	width: 60%;
	margin: 25px auto;
}

header {
	width: auto;
	padding: 30px 0;
}

.hexsphere-logo {
	height: 60px;
	width: auto;
}

h1, h2 {
	color: #7ADFBB;
}

h1 {
	font-size: 170%;
	margin-bottom: 25px;
}

h2 {
	font-size: 160%;
	margin-bottom: 25px;
}

h3 {
	font-size: 105%;
	margin-bottom: 15px;
}

p {
	font-size: 90%;
	color: #fff;
	text-transform: none;
	margin: 0 auto 25px auto;
}

.button:link,
.button:visited {
	display: inline-block;
	background-color: #7ADFBB;
	color: #fff;
	padding: 10px 18px;
	margin: 0;
	border-radius: 80px;
	text-decoration: none;
	 -webkit-transition: transform 0.2s;
	transition: transform 0.2s;
}

.button:hover,
.button:active {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	text-decoration: none;
}
