* {
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #56445D;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

#tutorials {
	text-transform: uppercase;
	margin-bottom: 20px;
}

#tutorials h2 {
	color: #65ea85;
	margin-bottom: 40px
}

#tutorials h4 {
	color: #65ea85;
	display: inline-block;
	margin: 25px 0;
}

#tutorials img {
	height: 200px;
	width: 270px;
	margin: 0;
}

.tutorial-container {
	text-align: center;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	background-color: white;
	border-radius: 5px 5px 0px 0px;
	box-sizing: border-box;
	display: inline-block;
	margin: 10px;
	padding: 0px;
	width: 270px;
	height: 280px;
}

.tutorial-container .tutorial-button:link,
.tutorial-container .tutorial-button:visited {
	display: inline-block;
	background-color: #70ff93;
	color: #fff;
	width: 100%;
	padding: 16px 0;
	margin: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-transition: scale 0.2s;
	transition: scale 0.2s;
}

.tutorial-container:hover,
.tutorial-container:active {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.button:link,
.button:visited {
	display: inline-block;
	background-color: #70ff93;
	color: #ffffff;
	padding: 10px 32px;
	font-size: 16px;
	margin: 26px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 50px;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.button:hover,
.button:active {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

header {
	width: auto;
	padding: 30px 0;
}

header img {
	height: 58px;
	width: auto;
}
