* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #36393E;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

header {
	width: 100%;
	padding: 30px 0;
}

.hexsphere-logo {
	height: 60px;
	width: auto;
}

.tutorials-list h2 {
	color: #7ADFBB;
	margin-bottom: 40px
}

.tutorials-list h4 {
	color: #7ADFBB;
	display: inline-block;
	margin: 25px 0;
}

.tutorials-list img {
	width: auto;
	height: 195px;
	margin: 0;
}

.tutorial-container {
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 0px;
	width: 270px;
	height: 100%;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
}

.tutorial-container:hover,
.tutorial-container:active {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.tutorial-button {
	display: inline-block;
	background-color: #7ADFBB;
	color: #fff;
	width: 100%;
	padding: 16px 0;
	border-radius: 0 0 5px 5px;
}

.button:link,
.button:visited {
	display: inline-block;
	background-color: #7ADFBB;
	color: #fff;
	padding: 10px 32px;
	font-size: 16px;
	margin: 48px 0px;
	border-radius: 50px;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
}

.button:hover,
.button:active {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}