* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	background-color: #56445D;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: uppercase;
}

header {
	width: 100%;
	padding: 30px 0;
}

header img {
	height: 58px;
}

#my-projects h2 {
	color: #65ea85;
	margin-bottom: 40px;
}

.button {
	display: inline-block;
	background-color: #65ea85;
	color: #fff;
	padding: 10px 32px;
	font-size: 16px;
	margin: 22px 0;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 80px;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.button:hover {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}